div.ms-Grid {
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
  margin: 2em 4em 2em 4em;
  overflow: hidden;
  background-color: ghostwhite;
}


/* div.ms-Grid-col {
  border: 1px solid gold;
} */

div.header {
  padding: 10px;
}


/*
div.container {
  height: 0;
  padding-bottom: 90%;
  position: relative;
  overflow: visible;
  border-bottom: 2px solid #eee;
}

div.content {
  max-width: calc(100% - 3em);
  min-width: 400px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  height: auto;
  border: 1px solid #808080;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
  padding: 1em 0 1em 0;
  background-color: rgb( 100, 110, 189);
}

tr.row td {
  font-size: 20px;
  font-size: calc(1vw  + 1vh + .9vmin);
  padding: 0.25em 1em 0.25em 1em;
  background-color: white;
}
*/