/*:root {
  font-size: calc(.5vw + .5vh + .1vmin);
}

body {
  font: 3em/1.6 'Segoe UI', 'Myriad Pro', Arial, Verdana, sans-serif;
}*/

div.container {
  height: 0;
  padding-bottom: 90%;
  position: relative;
  overflow: visible;
  border-bottom: 2px solid #eee;
}

div.content {
  width: 600px;
  /*fallback for browsers that don't support calc */
  width: calc(100% - 3em);
  min-width: 400px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  height: auto;
  border: 1px solid #808080;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
  padding: 1em 0 1em 0;
  background-color: rgb( 100, 110, 189);
}

div.content table {
  width: 100%;
  background-color: white;
  font-family: 'Segoe UI', 'Myriad Pro', Arial, Verdana, sans-serif;
}

tr#header td {
  min-width: 125px;
  padding: 0.75em 1em 0.5em 1em;
  font-size: 24px;
  font-weight: bold;
  background-color: ghostwhite;
}

tr.row td {
  font-size: 20px;
  font-size: calc(1vw  + 1vh + .9vmin);
  padding: 0.25em 1em 0.25em 1em;
  background-color: white;
}